@font-face {
    src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Book.woff);
    font-family: 'Suisse';
    font-weight: normal;
}

@font-face {
    src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Bold.woff
);
    font-family: 'Suisse';
    font-weight: bold;
}

* {
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
}

.body {
    margin: 0 auto;
    height: 100vh;
    background: #c7c6c6;
}

.box {
    max-width: 55rem;
    width: 100%;
    max-height: fit-content;
    height: 100%;
    margin: 0 auto;
    background: #c8b594;
    padding-top: 0.5rem;
    transition: all .3s ease 0.3s;
    display: flex;
    flex-direction: column;
}

.h1 {
    font-family: 'Suisse';
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
}
.line {
    opacity: 0.3;
    margin: 0.5rem;
}
.content {
    width: 100%;
    height: 2rem;
    padding: 0 1rem;
    background: none;
    transition: all .5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content:target {
    background: none;
    height: 20rem;
}

@media (hover: hover) {
    .content:hover {
        cursor: pointer;
        background: none;
        height: 20rem;
    }
}

.content-text {
    font-family: 'Suisse';
    font-size: 2rem;
    color: rgb(0, 81, 255);
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: color 0.5s ease;
}

.content-icon {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0;
    transition: all 0.3s ease 0.5s;
}

.content-img {
    height: 0;
    width: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0.3s;
}

.content:target .content-img {
    max-height: 80%;
    height: auto;
    width: 50%;
    text-align: center;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease 0.3s;
}

.content:target .content-text {
    color: #000;
}

@media (hover: hover) {
    .content:hover .content-img {
        max-height: 80%;
        height: auto;
        width: 50%;
        text-align: center;
        opacity: 1;
        visibility: visible;
    }

    .box:hover .content-text {
        color: #000;
    }

    /*видимость и поворот иконки*/
    .box:hover .content-icon {
        opacity: 1;
        rotate: 135deg;
    }

    .content:hover .content-icon {
        opacity: 1;
        rotate: 0deg;
    }
}

.content:target .content-icon {
    rotate: 0deg;
}