* {
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

html {
    /*width: 1440px;
    margin: 0 auto;*/
    scroll-behavior: smooth;
}
.body {
    margin: 0 auto;
}

.box {
    max-width: 1220px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
